{% extends "template.html.twig" %}
{% block title %}
	List of People
{% endblock %}

{% block pageTitle %}
	People
{% endblock %}
{% block body %}
	<div class="row">
		{% for person in allPeople %}
			<div class="col-3">
				<div class="card bg-light mb-3" style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{person.firstname}}
							{{person.name}}</h5>
						<p class="card-text">
							Son âge est de
							{{person.age}}.</p>
						<a href="{{ path('details.user', {id: person.id}) }}">
							<i class="fa-solid fa-circle-info"></i>
						</a>

						<a href="{{ path('delete.people', {id: person.id}) }}">
							<i class="fa-solid fa-user-xmark"></i>
						</a>

						<a href="{{ path('edit_people', {id: person.id}) }}">
							<i class="fa-solid fa-user-pen"></i>
						</a>
					</div>

				</div>
			</div>
		{% endfor %}
	</div>

	{% if isPaginated %}
		<div>
			<ul class="pagination pagination-lg">
				{% if page != 1 %}
					<li class="page-item">
						<a class="page-link" href="{{ path('people.pagination', {page : (page - 1), nbr : nbr}) }}">
							<i class="fa-solid fa-backward"></i>
						</a>

					</li>
				{% endif %}
				{% for i in range(1, nbPages) %}
					<li class="page-item active">
						<a class="page-link" href="{{ path('people.pagination', {page : i, nbr : nbr}) }}">{{i}}
						</a>
					</li>
				{% endfor %}
				{% if page != nbPages %}
					<li class="page-item">
						<a class="page-link" href="{{ path('people.pagination', {page : (page + 1), nbr : nbr}) }}">
							<i class="fa-solid fa-forward"></i>
						</a>

					</li>
				{% endif %}
			</ul>
		</div>
	{% endif %}
{% endblock %}
