{% extends 'template.html.twig' %}

{% block title %}Hello PeopleController!
{% endblock %}
{% block body %}
	{# {{ dump(person) }} #}
	<div class="alert alert-success">
		{{person.firstname}}
		{{person.name}}
		{{person.age}}
		{% if app.user %}
			<p>Created By :
				{{app.user.email}}</p>
		{% endif %}
	</div>
{% endblock %}
